<form (ngSubmit)="agregar()" >
  <input 
  type="text" placeholder="Ingresa tu nombre" 
  name="name" class="form-control"
  [(ngModel)]="item.name">
  <button type="submit" class="btn btn-warning mt-3">Agregar</button>
</form>